# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

GRPC_PORT=${INVENTORY_GRPC_PORT}


# ----------------------------
# Настройки MongoDB
# ----------------------------

MONGO_IMAGE=${INVENTORY_MONGO_IMAGE}

MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_PORT=${INVENTORY_MONGO_PORT}

MONGO_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}

MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}

MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}