# ----------------------------
# Настройки gRPC-клиентов
# ----------------------------

GRPC_INVENTORY_HOST=${ORDER_GRPC_INVENTORY_HOST}
GRPC_INVENTORY_PORT=${ORDER_GRPC_INVENTORY_PORT}

GRPC_PAYMENT_HOST=${ORDER_GRPC_PAYMENT_HOST}
GRPC_PAYMENT_PORT=${ORDER_GRPC_PAYMENT_PORT}

GRPC_HEALTH_CHECK_TIMEOUT=${ORDER_GRPC_HEALTH_CHECK_TIMEOUT}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# ----------------------------
# Настройки HTTP-сервера
# ----------------------------

HTTP_SERVER_PORT=${ORDER_HTTP_SERVER_PORT}
HTTP_READ_HEADER_TIMEOUT=${ORDER_HTTP_READ_HEADER_TIMEOUT}
HTTP_REQUEST_TIMEOUT=${ORDER_HTTP_REQUEST_TIMEOUT}
HTTP_SHUTDOWN_TIMEOUT=${ORDER_HTTP_SHUTDOWN_TIMEOUT}


# ----------------------------
# Настройки PostgreSQL
# ----------------------------

POSTGRES_IMAGE=${ORDER_POSTGRES_IMAGE}
EXTERNAL_POSTGRES_PORT=${ORDER_EXTERNAL_POSTGRES_PORT}

POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
POSTGRES_DB=${ORDER_POSTGRES_DB}

POSTGRES_HOST=${ORDER_POSTGRES_HOST}
POSTGRES_PORT=${ORDER_POSTGRES_PORT}

POSTGRES_MAX_OPEN_CONS=${ORDER_POSTGRES_MAX_OPEN_CONS}
POSTGRES_MIN_IDLE_CONS=${ORDER_POSTGRES_MIN_IDLE_CONS}
POSTGRES_MAX_CON_IDLE_TIME=${ORDER_POSTGRES_MAX_CON_IDLE_TIME}
POSTGRES_MAX_CON_LIFETIME=${ORDER_POSTGRES_MAX_CON_LIFETIME}


# ----------------------------
# Миграции
# ----------------------------

MIG_DIR=${ORDER_MIG_DIR}